{% extends 'admin/admin_index.html.twig' %}

{% block title %}Создание услуг{% endblock %}

{% block body %}
    <div class="col-6" style="margin: 0 auto;">
        {% if service is defined %}


            <a href="{{ uploaded_asset("logo_uploads", service.serviceLogo)}}" target="_blank">
                <img src="{{ uploaded_asset("logo_uploads", service.serviceLogo) }}" height="250" class="service__image">
            </a>

        {% endif %}
        {{ form_start(form) }}
            {{ form_row(form.image) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.duration) }}

            <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(form) }}
    </div>
    <script>
        $(function () {
            $('body').on('change', '.form-control', function (event) {
                var file = event.currentTarget.files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e) {
                        // browser completed reading file - display it
                        $('.service__image').attr("src", e.target.result);

                    };
                }
            });
        });

    </script>

{% endblock %}
