{% extends 'admin/admin_index.html.twig' %}

{% block title %}Создание услуг{% endblock %}

{% block body %}
    <div class="col-6" style="margin: 0 auto;">
        {% if service is defined %}
            {% set imgurl =  uploaded_asset("logo_uploads", service.serviceLogo) %}
        {% else %}
            {% set imgurl =  '/uploads/logos/-655e17043a634.jpg' %}
        {% endif %}
        <a href="{{ imgurl}}" target="_blank">
            <img src="{{ imgurl }}" height="250" class="entiy__image">
        </a>
        {{ form_start(form) }}
            {{ form_row(form.image) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.duration) }}

            <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(form) }}
    </div>
    <script>
        $(function () {
            $('body').on('change', '.form-control', function (event) {
                var file = event.currentTarget.files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e) {
                        // browser completed reading file - display it
                        $('.entiy__image').attr("src", e.target.result);

                    };
                }
            });
        });

    </script>

{% endblock %}
