{% extends 'admin/admin_index_cards.html.twig' %}
{% block title %}Все записи{% endblock %}


{% block body %}

                    <div class="col-12 p-0">
                        <div class="admin-header-with-button">
                            <h1>Управление записями</h1>
{#                            <div><a class="btn btn-primary mb-3" href="{{ path('app_admin_card_create') }}">Создать новую запись</a></div>#}
                        </div>

                        <form>
                            <div class="input-group mb-3">
                                <input type="text"
                                       name="q"
                                       class="form-control"
                                       placeholder="Найти..."
                                       value=""
                                >
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-check" >
                                    <input type="checkbox"
                                           name="showDeleted"
                                           class="form-check-input"
                                            {% if app.request.query.has('showDeleted') %} checked {% endif %}
                                    >
                                    <label class="form-check-label">Показать удаленные</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-select" style="max-width: 30%;" name="pageCount" >
                                    <option value="" disabled selected>Сколько элементов на страницу</option>
                                    <option value="3">50</option>
                                    <option value="5">100</option>
                                    <option value="10">150</option>
                                </select>
                            </div>
                        </form>


                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Запись</th>
                                <th>Начало</th>
                                <th>Дата</th>
                                <th>Название услуги</th>
                                <th>Специалист</th>
                                <th>КЦ</th>
                                <th>удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for card in collection %}
                                <tr>
                                    <td><a href="#">{{ card.id }}</a></td>
                                    <td>{{ card.start//60 }}:{{ card.start%60 }}<</td>
                                    <td>{{ card.date|date('d.m.Y') }}</td>
                                    <td>{{ card.service.name }}</td>
                                    <td>{{ card.specialist.FIO }}</td>
                                    <td>{{ card.filial.name }}</td>
                                        <td><span class="del_service" style="cursor: pointer" data-serv-id="{{ card.id }}" >удалить</span></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {{ knp_pagination_render(collection) }}
                    </div>
    <script>
        {#const DelButtons = document.querySelectorAll('.del_service');#}

        {#DelButtons.forEach( el => {#}
        {#    el.addEventListener('click', ()=> {#}

        {#        let data = {del_id: el.dataset.servId,}#}

        {#        let newData = JSON.stringify(data)#}
        {#        fetch("{{ path('app_api1_crm_service_delite') }}", {#}
        {#            method: 'POST',#}
        {#            headers: {#}
        {#                'Content-Type': 'application/json;charset=utf-8'#}
        {#            },#}
        {#            body: newData,#}
        {#        })#}
        {#            .then( res => { return res.json()} )#}
        {#            .then(data => {#}
        {#                console.log(data); return  JSON.stringify( data) })#}
        {#            .then(data => {return JSON.parse( data ) })#}
        {#            .then(data => {#}
        {#                if (data.result === 'DELITED') window.location.href = '/admin/service/all';#}
        {#            });#}
        {#    })#}
        {#});#}


    </script>



{% endblock %}
