{% extends 'admin/admin_index.html.twig' %}
{% set titlepage =  entity ~ "s"%}
{% set createrout = "app_admin" ~ entity ~ "_create" %}
{% set editrout = "app_admin" ~ entity ~ "_edit" %}
{% block title %}{{ titlepage|trans }}{% endblock %}

{% block body %}


                    <div class="col-12 p-0">
                        <div class="admin-header-with-button">
                            <h1>{{ titlepage|trans }}</h1>
                            <div><a class="btn btn-primary mb-3" href="{{ path(createrout) }}">Новый {{ entity|trans }}</a></div>

                            <form>
                                <div class="col-3">
                                    <label class="form-check-label">Поиск по имени / названию коллекции (введите часть имени / навания коллекции):</label>
                                    <div class="input-group mb-3">
                                        <input type="text"
                                               name="q"
                                               class="form-control"
                                               placeholder="Найти..."
                                               value=""
                                        >

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="form-check" >
                                        <input type="checkbox"
                                               name="showDeleted"
                                               class="form-check-input"
                                                {% if app.request.query.has('showDeleted') %} checked {% endif %}
                                        >
                                        <label class="form-check-label">Показать удаленные</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group mb-3">
                                        <select class="form-select"  name="pageCount" >
                                            <option value="" disabled selected>Сколько элементов вывести на страницу:</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                            <hr class="mt-5">
                            <p>Всего записей: {{ collection|length }}</p>
                        </div>

                        {% if collection|length > 0 %}
                            <table class="table table-striped">

    {#                            {% set entity = '_filial' %}#}

                                <thead>
                                <tr>
    {#                                {{ vdump(collection.items) }}#}
                                    {% for key,value in collection.items[0] %}
                                        {% if key not in exlude_columns %}
                                            <th>{{ (key ~ entity)|trans }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in collection %}
                                    <tr>
                                        {% for key,value in item %}
                                            {% if key not in exlude_columns %}
                                                {% if key in ["name", "FIO"] %}
{#                                                    {% set rout = "app_admin" ~ entity ~ "_edit" %}#}
                                                    <td><a href="{{ path(editrout, {id: item.id}) }}"> {{ value }}</a></td>
                                                    {% else %}
                                                    <td>{{ value }}</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            {{ knp_pagination_render(collection) }}
                        {% endif %}

                    </div>


    <script>
        {#const DelButtons = document.querySelectorAll('.del_service');#}

        {#DelButtons.forEach( el => {#}
        {#    el.addEventListener('click', ()=> {#}

        {#        let data = {del_id: el.dataset.servId,}#}

        {#        let newData = JSON.stringify(data)#}
        {#        fetch("{{ path('app_api1_crm_service_delite') }}", {#}
        {#            method: 'POST',#}
        {#            headers: {#}
        {#                'Content-Type': 'application/json;charset=utf-8'#}
        {#            },#}
        {#            body: newData,#}
        {#        })#}
        {#            .then( res => { return res.json()} )#}
        {#            .then(data => {#}
        {#                console.log(data); return  JSON.stringify( data) })#}
        {#            .then(data => {return JSON.parse( data ) })#}
        {#            .then(data => {#}
        {#                if (data.result === 'DELITED') window.location.href = '/admin/service/all';#}
        {#            });#}
        {#    })#}
        {#});#}


    </script>



{% endblock %}
