{% extends 'base.html.twig' %}

{% block body %}
    <div class="calendar_wrap">

        <div class="telo">
			<span class="hed1">Проект "Поддержка семей, имеющих детей"<br>
				<span style="font-size: 27px">КОНСУЛЬТАЦИИ   ДЛЯ   РОДИТЕЛЕЙ <br>
			(законных представителей)</span>
			</span>
            <span class="hed2">
				Уважаемы родители!<br>
				Консультирование возможно в дистанционной форме по видео-конференц связи(telegram)<br>
				или по телефону.
			</span>
            <span class="hed3">
				Запись на консультацию к специалистам <br>
				Наши услуги оказываюся бесплатно
			</span>
            <div class="telo_content">
                <!--   Блок отображения карточек филиалов   -->
                {% for filial in filials %}
                    <div class="telo_content_el">
                        <div class="t_cont_el_img" style='background: url({{uploaded_asset("filial_uploads", filial.image) }} ); background-size: 100% auto;'></div>

                        <span class="t_cont_el_hed">{{ filial.name }}</span>
                        <span class="t_cont_el_text">{{ filial.address }}</span>
                        <div class="t_cont_el_btn"><a href="{{ path('app_booking_sevices', {filial_id: filial.id}) }}">Выбрать</a></div>
                    </div>

                {% endfor %}



            </div>
        </div>
        <!-- Конец блока содержимого центрального блока -->




    </div>
{% endblock %}

{% block title %}
    {{ page }}
{% endblock %}

