{% extends 'base.html.twig' %}

{% block body %}
    <div class="calendar_wrap">

        <div class="telo">
			<span class="hed1">Проект "Поддержка семей, имеющих детей"<br>
				<span style="font-size: 27px">КОНСУЛЬТАЦИИ   ДЛЯ   РОДИТЕЛЕЙ <br>
			(законных представителей)</span>
			</span>
            <span class="hed2">
				Уважаемы родители!<br>
				Консультирование возможно в дистанционной форме по видео-конференц связи(telegram)<br>
				или по телефону.
			</span>
            <span class="hed3">
				Запись на консультацию к специалистам <br>
				Наши услуги оказываюся бесплатно
			</span>
            <div class="telo_content">
                <!--   Блок отображения карточек услуг специалистов   -->


                {% for compelect in complects %}

                    {#            {% if service.complects.count != 0 %}#}

                    {#                <a href="{{ path('app_crm_boocking', {service_id: service.id}) }}"><p>{{ service.name }}, {{ service.price }}</p></a>#}


                    <div class="telo_content_el">
                        <div class="t_cont_el_img" style='background: url({{ uploaded_asset('logo_uploads', compelect.service.serviceLogo)}}); background-size: 100% auto;'></div>

                        <span class="t_cont_el_hed">{{ compelect.service.name }}</span>
                        <span >{{ compelect.name }}</span>
                        <span class="t_cont_el_text">{{ compelect.service.duration }} мин. <br>{{ compelect.service.price }}</span>
                        <div class="t_cont_el_btn"><a href="{{ path('app_booking_calendar', {filial_id: filial_id,service_id: compelect.id}) }}">Записаться</a></div>
                    </div>


                    {#            {% endif %}#}

                {% endfor %}


            </div>
        </div>
        <!-- Конец блока содержимого центрального блока -->

    </div>
{% endblock %}

{% block title %}
    {{ page }}
{% endblock %}

