{% extends 'admin/admin_index.html.twig' %}

{% block title %}Создание услуг{% endblock %}

{% block body %}
    <div class="col-6" style="margin: 0 auto;">


        {{ form_start(form) }}
        {{ form_row(form.FIO) }}
        {{ form_row(form.email) }}

        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(form) }}
    </div>
    <hr style="background: white;">
    <div class="col-6" style="margin: 0 auto;">
        <h3>Прикредленные услуги:</h3>
        <table class="table table-striped">
            {% set entity = '_user' %}

        <thead>
        <tr>
            {% for key,value in services[0] %}
                <th>{{ (key ~ entity)|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id}}</td>
                <td><a href="{{ path('app_admin_service_edit', {id: service.id}) }}">{{ service.name }}</a></td>
            </tr>

        {% endfor %}

        </tbody>
        </table>
    </div>

{% endblock %}
