{% extends 'base.html.twig' %}

{% block title %}Hello BoockingController!{% endblock %}

{% block body %}

<div class="calendar_wrap">
    <div class="calendar_row_wrap">
        <div class="calendar_row">
            <div class="days_w">Понедельник</div>
            <div class="days_w">Вторник</div>
            <div class="days_w">Среда</div>
            <div class="days_w">Четверг</div>
            <div class="days_w">Пятница</div>
            <div class="days_w">Суббота</div>
            <div class="red_day">Воскресенье</div>
        </div>
    </div>
    {% for i in 0..countRows -1 %}
        <div class="calendar_row_wrap">
            <div class="calendar_row">

                <a href="{{ path("app_crm_boocking")~"?&"~calenadar.dateMatrix[(i+1)*7 - 7]['link'] }}"><div class="days">{{ calenadar.dateMatrix[(i+1)*7 - 7]['date'] }}</div></a>
                <a href="{{ path("app_crm_boocking")~"?&"~calenadar.dateMatrix[(i+1)*7 - 6]['link'] }}"><div class="days">{{ calenadar.dateMatrix[(i+1)*7 - 6]['date'] }}</div></a>
                <a href="{{ path("app_crm_boocking")~"?&"~calenadar.dateMatrix[(i+1)*7 - 5]['link'] }}"><div class="days">{{ calenadar.dateMatrix[(i+1)*7 - 5]['date'] }}</div></a>
                <a href="{{ path("app_crm_boocking")~"?&"~calenadar.dateMatrix[(i+1)*7 - 4]['link'] }}"><div class="days">{{ calenadar.dateMatrix[(i+1)*7 - 4]['date'] }}</div></a>
                <a href="{{ path("app_crm_boocking")~"?&"~calenadar.dateMatrix[(i+1)*7 - 3]['link'] }}"><div class="days">{{ calenadar.dateMatrix[(i+1)*7 - 3]['date'] }}</div></a>
                <a href="{{ path("app_crm_boocking")~"?&"~calenadar.dateMatrix[(i+1)*7 - 2]['link'] }}"><div class="days">{{ calenadar.dateMatrix[(i+1)*7 - 2]['date'] }}</div></a>
                <div class="red_day">{{ calenadar.dateMatrix[(i+1)*7 - 1 ]['date'] }}</div>
            </div>
        </div>
    {% endfor %}
    <!--<p>Количество строк :{{ calenadar.count_rows }}</p>
    <p>День:{{ calenadar.start_month_day }}</p>
    <p>Дата:{{ date }}</p>
    <p><b>Выбранная дата:{{ calenadar.date_string }}</p>-->
    <p style="width: 100%; text-align: center;"><b>Расписание для выбранной услуги на {{ calenadar.date_string }}:</b></p>
    <wrapper style="display: flex; justify-content: space-around">
        {% for session in schedule %}
            <div>
                <div class="days">{{ session[0].timeStart }}</div>
                {% if session.specs|length > 0 %}
                    {% for spec in session.specs %}
                        <p>{{ spec.fio }}</p>
                    {% endfor %}
                {% endif %}
            </div>

        {% endfor %}
    </wrapper>


</div>
{% endblock %}
