{% extends 'admin/admin_index.html.twig' %}

{% block title %}Управление коллекциями{% endblock %}

{% block body %}


{#                <div class="row border flex-md-row mb-4 shadow-sm bg-white p-4">#}
                    <div class="col-12 p-0">
                        <div class="admin-header-with-button">
                            <h1>Управление коллекциями</h1>
                            <div><a class="btn btn-primary mb-3" href="{{ path('app_admin_collection_create') }}">Добавить коллекцию</a></div>
                        </div>


                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Название</th>
                                <th>удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for collection in collection %}
                                <tr>
                                    <td>{{ collection.id }}</td>
{#                                    <td><a href="{{ path('app_admin_filial_edit', {id: collection.id}) }}">{{ collection.name }}</a></td>#}
                                    <td>{{ collection.name }}</td>
                                    <td><span class="del_service" style="cursor: pointer" data-serv-id="{{ collection.id }}" >удалить</span></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {{ knp_pagination_render(collection) }}
                    </div>
{#                </div>#}
    <script>
        {#const DelButtons = document.querySelectorAll('.del_service');#}

        {#DelButtons.forEach( el => {#}
        {#    el.addEventListener('click', ()=> {#}

        {#        let data = {del_id: el.dataset.servId,}#}

        {#        let newData = JSON.stringify(data)#}
        {#        fetch("{{ path('app_api1_crm_service_delite') }}", {#}
        {#            method: 'POST',#}
        {#            headers: {#}
        {#                'Content-Type': 'application/json;charset=utf-8'#}
        {#            },#}
        {#            body: newData,#}
        {#        })#}
        {#            .then( res => { return res.json()} )#}
        {#            .then(data => {#}
        {#                console.log(data); return  JSON.stringify( data) })#}
        {#            .then(data => {return JSON.parse( data ) })#}
        {#            .then(data => {#}
        {#                if (data.result === 'DELITED') window.location.href = '/admin/service/all';#}
        {#            });#}
        {#    })#}
        {#});#}


    </script>



{% endblock %}
