<div class="menu_baza">
	<div class="menu_full">
		<div class="menu">
			<div class="menu_button">
				<a href="/">Главная</a>
			</div>

{#			<div class="menu_button">#}
{#				<a href="#">Новости</a>#}
{#			</div>#}

{#			<div class="dropdown" data-active='myDropdown' >#}
{#				<button class="menudropbtn">Об организации</button>#}
{#				<div class="dropdown-content">#}
{#					{% for collection in get_pages() %}#}

{#						<a href="{{ path('app_article_detale', {id: collection.id}) }}">{{ collection.title }}</a>#}
{#						<a href="#">{{ collection.title }}</a>#}
{#					{% endfor %}#}
{#				</div>#}
{#			</div>#}

			<div class="dropdown" data-active='myDropdown' >
				<button class="menudropbtn">Запись на консультацию</button>
				<div class="dropdown-content">
					{% for collection in get_filials() %}

						<a href="{{ path('app_booking_filials', {collection_id: collection.id}) }}">{{ collection.name }}</a>
					{% endfor %}
				</div>
			</div>

			<div class="menu_button">
				<a href="{{ path('app_admin') }}">вход</a>
			</div>
		</div>
	</div>
</div>
<script>
	{
		const myF = ()=>{

			const dropEls = document.querySelectorAll("[data-active='myDropdown']");

			dropEls.forEach((el) => {
				el.addEventListener( "click", () => {
					el.querySelector(".dropdown-content").classList.toggle("show");
				})
			})
		}
		myF();
	}


</script>
