{% extends 'admin/admin_index.html.twig' %}

{% block title %}Создание филиала{% endblock %}

{% block body %}
    <div class="col-6" style="margin: 0 auto;">
        <div class="alert alert-warning" role="alert">
            Внимание! Прежде чем создавать филиал, убедитесь, что создана нужная для него коллекция! (Напримаер: Филиалы на базе СОШ)
        </div>
        {% if filial is defined %}


            <a href="{{ uploaded_asset("filial_uploads", filial.image)}}" target="_blank">
                <img src="{{ uploaded_asset("filial_uploads", filial.image) }}" height="250" class="service__image">
            </a>

        {% endif %}
        {{ form_start(form) }}
{#        {{ form_row(form.name) }}#}
{#        {{ form_row(form.price) }}#}
{#        {{ form_row(form.duration) }}#}
        {#            {{ form_row(form.serviceLogo, {attr: {placeholder: 'Загрузите изображение для услуги'}}) }} #}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(form) }}
    </div>
    <script>
        $(function () {
            $('body').on('change', '.form-control', function (event) {
                var file = event.currentTarget.files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e) {
                        // browser completed reading file - display it
                        $('.service__image').attr("src", e.target.result);

                    };
                }
            });
        });

    </script>

{% endblock %}
