{% extends 'base_admin.html.twig' %}

{% block title %}Изменение статьи{% endblock %}

{% block body %}
    <div class="col-6" style="margin: 0 auto;">
        {% if error is defined %}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.mainImage, {attr: {
                    placeholder: 'Загрузите изображение для записи'
                }
            }) }}
            {{ form_row(form.title) }}
            {{ form_row(form.body) }}
            {{ form_row(form.publishedAt) }}
            {{ form_row(form.autor) }}

{#        {{ form_widget(form) }}  #}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
