{% extends 'admin/article_admin/admin_article_base.html.twig' %}

{% block title %}Управление записями/страницами{% endblock %}

{% block body %}

                    <div class="col-12 p-0">
                        <div class="admin-header-with-button">
                            <h1>Управление записями/страницами</h1>
                            <div><a class="btn btn-primary mb-3" href="{{ path('app_admin_article_create') }}">Создать новую запись</a></div>
                        </div>

                        <form>
                            <div class="input-group mb-3">
                                <input type="text"
                                       name="q"
                                       class="form-control"
                                       placeholder="Найти..."
                                       value=""
                                >
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text"
                                       name="type"
                                       class="form-control"
                                       placeholder="Фильтр по типу application"
                                       value=""
                                >
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-check" >
                                    <input type="checkbox"
                                           name="showDeleted"
                                           class="form-check-input"
                                            {% if app.request.query.has('showDeleted') %} checked {% endif %}
                                    >
                                    <label class="form-check-label">Показать удаленные</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-select" style="max-width: 30%;" name="pageCount" >
                                    <option value="" disabled selected>Сколько элементов на страницу</option>
                                    <option value="3">3</option>
                                    <option value="10">5</option>
                                    <option value="15">10</option>
                                </select>
                            </div>
                        </form>


                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Заголовок</th>
                                <th>Тип</th>
                                <th>Изображение</th>
                                <th>Раздел</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for article in collection %}
                                <tr>
                                    <td>{{ article.id }}</td>
                                    <td><a href="{{ path('app_admin_article_edit', {id: article.id}) }}">{{ article.title }}</a></td>
                                    <td>{{ article.type }}</td>
                                    <td>{{ article.mainImage }}</td>
                                    <td><span class="del_service" style="cursor: pointer" data-art-id="{{ article.id }}" >{{ article.sector }}</span></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {{ knp_pagination_render(collection) }}
                    </div>

    <script>
        {#const DelButtons = document.querySelectorAll('.del_service');#}

        {#DelButtons.forEach( el => {#}
        {#    el.addEventListener('click', ()=> {#}

        {#        let data = {del_id: el.dataset.servId,}#}

        {#        let newData = JSON.stringify(data)#}
        {#        fetch("{{ path('app_api1_crm_service_delite') }}", {#}
        {#            method: 'POST',#}
        {#            headers: {#}
        {#                'Content-Type': 'application/json;charset=utf-8'#}
        {#            },#}
        {#            body: newData,#}
        {#        })#}
        {#            .then( res => { return res.json()} )#}
        {#            .then(data => {#}
        {#                console.log(data); return  JSON.stringify( data) })#}
        {#            .then(data => {return JSON.parse( data ) })#}
        {#            .then(data => {#}
        {#                if (data.result === 'DELITED') window.location.href = '/admin/service/all';#}
        {#            });#}
        {#    })#}
        {#});#}


    </script>



{% endblock %}
