<span class="head_left_nav">Управление услугами</span>
<hr style="border-color: white">

<a href="{{ path('app_admin_user_create')}}" class="button_left_nav">Создать пользователя</a>
<a href="{{ path('app_admin_service_create') }}" class="button_left_nav">Добавить услугу</a>
<a href="{{ path('app_admin_filial_create') }}" class="button_left_nav">Добавить филиал</a>
<a href="{{ path('app_admin_complect_create') }}" class="button_left_nav">Скомплектовать услугу</a>
<a href="{{ path('app_admin_user_complect_create') }}" class="button_left_nav">Назначить комплект работнику</a>
<hr style="border-color: white">
<a href="{{ path('app_admin_collection_create') }}" class="button_left_nav">Создать коллекцию</a>
