<span class="head_left_nav">Управление услугами</span>
<hr style="border-color: white">

<a href="{{ path('app_admin_services') }}" class="button_left_nav">Список услуг</a>
<a href="{{ path('app_admin_users') }}" class="button_left_nav">Список пользователей</a>
<a href="{{ path('app_admin_schedule') }}" class="button_left_nav">Список расписаний</a>

<hr style="background: white;">

<a href="{{ path('app_admin_user_create')}}" class="button_left_nav">Зарегистрировать работника</a>
<a href="{{ path('app_admin_service_create') }}" class="button_left_nav">Создать услугу</a>
<a href="{{ path('app_admin_filial_create') }}" class="button_left_nav">Создать филиал</a>
<a href="{{ path('app_admin_filialservice_create') }}" class="button_left_nav">Доб. улсуги к филиалам</a>
<a href="{{ path('app_admin_userservice_create') }}" class="button_left_nav">Доб. улсуги к специалистам</a>
<hr style="background: white;">
<a href="{{ path('app_admin_collection_create') }}" class="button_left_nav">Создать коллекцию</a>
<br>
<br>

<hr style="background: white;">

<a href="{{ path('app_admin_cards') }}" class="button_left_nav">Список записей</a>
